@model EFOptimization.Models.QueryTextModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
      <pre>@Model.QueryText</pre>
    </div>
</body>
</html>
